<%= link_to "Add New Event", new_event_path %>
<table>
  <thead>
    <tr>
      <th> Date </th>
      <th> Description </th>
      <th> REQUIRES ID </th>
      <th> Capacity </th>
      <th> Directions </th>
</tr>
</thead>
<tbody>

    <% @events.each do |event| %>
<tr><td><%= event.date %></td>
  <td><%= event.description %></td>
  <td><%= event.requires_id %></td>
  <td><%= event.capacity %></td>
  <td><%= event.directions %></td>
</tr>


</tbody>


</table>


<% end %>
