<%= form_for @event, html:{class:"form-horizontal"}  do |f| %>

<div class="container">

<%= f.label :date %>
<%= f.date_field :date %>

<%= f.label :description  %>
<%= f.text_field :description %>

<%= f.label "REQUIRES ID" %>
<%= f.check_box :requires_id %>

<%= f.label :capacity %>
<%= f.number_field :capacity %>

<%= f.label :directions %>
<%= f.text_area :directions %>

<%= f.submit %>

<% end %>
</div>
