<div class= "container">
  <table class="table">
    <h1>Review Event</h1><br/>
    <thead>
      <tr>
        <th> Date </th>
        <th> Description </th>
        <th> REQUIRES ID </th>
        <th> Capacity </th>
        <th> Directions </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><%= @event.date %>
          <td><%= @event.description %>
            <td><%= @event.requires_id %>
              <td><%= @event.capacity %>
                <td><%= @event.directions %>
                </tr>
              </tbody>

            </table>
          </div>
